.forgetPasswordDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.main-Container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.welcome-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.form-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.resetBtn {
  margin-top: 20px;
}

.back-to-signin p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.back-to-signin span {
  color: #007bff;
  cursor: pointer;
}
