.main-promise-list-container{
    /* border: 2px solid red; */
    height: 98vh;
    background-color: aliceblue;
    overflow-y: none;
   
}

.promise-list-container{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share-btn{
    width: 105px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px ;
    background:  #FF5050;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
   
    
}

.add2List{
    width:120px;
    height: 42px;
    padding: 12px;
    border-radius: 10px;
    border: none ;
    background: #000000;
    color: #FFF;

}

